/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



:root {
  /* colors */
  --primary-color: #24556f;
  --secondary-color: #6c757d;
  --success-color: #198754;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #0dcaf0;
  --light-pink-color: #f8f9fa;
  --dark-color: #212529;
  --whiete-color: #ffffff;
  --black-color: #000000;
  --medium-gray-color: #ccc;

  /* Font size */

  --font-size-small: 0.9rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.12rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2.25rem;
  --font-size-xxlarge: 3.25rem;

  /* Font weight */

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border weight */

  --border-radius-small: 8px;
  --border-radius-medium: 30px;
  --border-radius-circle: 60%;

  /* Site max width */

  --site-max-width: 1300px;
}

/* Styling with whole site */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

/* Navbar Styling */

/* Hide menu and close buttons by default */
#menuOpenBtn,
#btnClose {
  display: none;
}

header {
  background: var(--primary-color);
  position: fixed;
  z-index: 5;
  width: 100%;
}

header .navbar {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-logo .logo-text {
  color: var(--whiete-color);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
}

.navbar #btnClose {
  position: absolute;
  right: 30px;
  top: 30px;
}

.navbar .nav-menu {
  display: flex;
  gap: 20px;
}

/* .navbar .nav-menu .nav-link {
  color: var(--black-color);
  padding: 10px 18px;
  background: var(--light-pink-color);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-medium);
  transition: 0.3s ease;
  height: 40px;
} */

/* .navbar .nav-menu .nav-link:hover {
  background: var(--success-color);
  color: var(--whiete-color);
} */

.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--black-color);
  gap: 100px; /* space between text and image */
}

/* Left side text area */
.hero-details {
  flex: 1;
  max-width: 50%;
}

/* Right side image area */
.hero-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  max-width: 700px;
  height: auto;
}
.border {
  border: 5px solid rgba(19, 14, 14, 0.963);
  padding: 40px;
  border-radius: 15px;
  background-color: rgb(247, 249, 232);
  width: 100px;
}
.title {
  font-family: serif;
  color: var(--primary-color);
}

/* About Section */
.about-section {
  padding: 120px 0;
  background: var(--primary-color);
}

.about-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.profileImage{
    width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
margin-left: 50px;
}


.about-details {
  color: white;
  max-width: 600px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: #000000;
  text-align: center;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-small);
  background: var(--primary-color);
}
.text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000;
  text-align: center;
}
.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.about-section .social-link-list .social-link {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  transition: 0.2s ease;
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .social-link-list .social-link:hover {
  color: var(--secondary-color);
}
.border-about {
  border: 1px solid rgba(19, 14, 14, 0.963);
  padding: 40px;
  border-radius: 15px;
  background-color: rgb(234, 234, 234);
  width: 700px;
}

/* Menu section */

.menu-section {
  color: var(--black-color);
  background: var(--whiete-color);
  padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-img {
  max-width: 350px;
  max-height: 400px;
  aspect-ratio: 1;
  margin-bottom: 10px;
}

.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}
.menu-section .menu-list .menu-item .text {
  font-size: var(--font-size-medium);
}

.border-menu {
  border: 1px solid rgba(19, 14, 14, 0.963);
  padding: 40px;
  border-radius: 15px;
  background-color: rgb(219, 222, 192);
}

/* Contact Section */

.contact-section {
  padding: 50px 0 100px;
  background:var(--primary-color);
}

.contact-section .section-content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-self: center;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info {
  font-size: var(--font-size-medium);
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;

  background: var(--whiete-color);
  border: 1px solid var(--medium-gray-color);
  border-radius: var(--border-radius-small);
}

.contact-section .contact-form .form-input:focus {
  border-color: var(--secondary-color);
}

.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .submit-button {
  color: var(--black-color);
  padding: 11px 26px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  background: var(--whiete-color);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--black-color);
  transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
  color: var(--primary-color);
  background: gold;
}

.border-contact {
  border: 1px solid rgba(19, 14, 14, 0.963);
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(219, 222, 192);
  width: 100%;
}



/* Responsive media quary for may woth 1024px */
@media screen and (max-width: 1024px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 110px);
  }
}
/* Responsive media quary for may woth 900px */
@media screen and (max-width: 900px) {
  /* Show menu and close buttons only on small screens */
  #menuOpenBtn,
  #btnClose {
    display: block;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar .nav-menu {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background: var(--whiete-color);
    transition: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link {
    color: var(--black-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-large);
    height: 50px;
  }

  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-image-wrapper {
    margin-top: 100px;
    max-width: 470px;
    margin-right: 0;
  }

  .border {
    border: 5px solid rgba(19, 14, 14, 0.963);
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(247, 249, 232);
    width: 700px;
  }

  .logo-text {
    margin-left: 50px;
  }

  .hero-details {
    flex: 1;
    max-width: 90%;
  }

  /* About Sectioon */

  .border-about {
    border: 1px solid rgba(19, 14, 14, 0.963);
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(234, 234, 234);
    width: 700px;
  }

  .about-section .about-details {
    max-width: 90%;
  }

  .about-section .section-content {
    gap: 70px;
    flex-direction: column;
  }

  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 400px;
    aspect-ratio: 1;
  }

  .menu-section .menu-list {
    gap: 30px;
  }
  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }
  .menu-section .menu-list .menu-item .menu-img {
    max-width: 200px;
  }
}
/* Responsive media quary for may woth 640px */
@media screen and (max-width: 640px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: 100%;
  }
}
